---
import Navbar from "../ReactComponents/Navbar/Navbar.jsx";

---


<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;900&
  display=swap" rel="stylesheet">
  <!--secod font -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600;900&display=swap" rel="stylesheet">
  <!--special font-->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Old+Standard+TT:wght@400;700&display=swap" rel="stylesheet">
  <title>Document</title>
</head>
<body>
  <Navbar/>

  <main>
    <slot/>
  </main>
  

</body>
</html>

<!--This is Main CSS in this layout with tag style -->

<style lang="scss">

  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  html {
    font-family: 'Montserrat', sans-serif;
  }
  
  .title__bg {
    font-family: 'Montserrat', sans-serif;
    font-weight:900;
    font-size: 50px;
  }

  .title__md {
    font-family: 'Montserrat', sans-serif;
    font-weight:600;
    font-size: 24px;
  }

  .parraf__bg {
    font-family: 'Montserrat', sans-serif;
    font-weight:300;
    font-size: 24px;
  }
  
  .parraf__sm {
    font-family: 'Montserrat', sans-serif;
    font-weight:300;
    font-size: 18px;
  }

  .button__primary {
    background-color: #1CBE9D;
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    border-radius: 3px;
    padding:12px 12px;
    color: #fff;
  }
  
</style>