
<div class="community">
  <div class="community__info">
    <h2>
      Listos para la comunidad
    </h2>
    <div class="community__card">
      <div class="community__icon">
        <img src="/innovacion.png" alt="icon">
      </div>
      <div class="community__title">
        <h4>Recursos  para comunidad</h4>
        <p>Unete a nuestra comidad de discord. compartiremos recursos</p>
      </div>
    </div>
    <div class="community__card">
      <div class="community__icon">
        <img src="/innovacion.png" alt="icon">
      </div>
      <div class="community__title">
        <h4>Eventos Locales</h4>
        <p>Proximamente planeando eventos.</p>
      </div>
    </div>
  </div>
  <div class="community__image">
    <img src="/maptinker.png" alt="">
  </div>
</div>

<style>
  .community {
    display: flex;
    justify-content: space-between;
    padding: 90px 54px;
  }

  .community__info h2 {
    font-size: 50px;
    color:#3A3636;
  }

  .community__card {
    display: flex;
  }

  .community__icon {
    margin-right: 30px;
  }

  .community__title {
    width: 50%;
  }

  .community__image {
    display: flex;
    justify-content: flex-end;
  }

  .community__image img {
    width: 90%;
  }
</style>