

<div class="host">
  <div class="host__oficial">
    <img src="/netlify.png" alt="logo netlify">
    <p> Alojamiento Oficial</p>
  </div>
  <div>
    <img src="/rayicon.png" alt="ray icon">
  </div>
  <div class="host__candelary">
    <h3>Obtenga una consultoria</h3>
    <span>1-a-1</span>
    <button>Consultoria de TI</button>
  </div>
</div>


<style>
  .host {
    background-color: #3ab69e;
    display:flex;
    justify-content: space-between;
    padding:45px 54px ;
  }

  .host__oficial {
    display: flex;
    border-radius: 21px;
    border: 1px solid #000;
    flex-direction: column;
    background-color: #fff;
    width: 400px;
    height: 206px;
    justify-content: center;
    align-items: center;
  }
  .host__oficial p {
    font-size: 18px;
  }

  .host__candelary {
    display: flex;
    flex-direction: column;
  }
  .host__candelary h3 {
    font-weight: 700;
    font-size: 24px;
    font-weight: 400;
    font-family: 'Old Standard TT', serif;
  }

  .host__candelary span {
    font-weight: 400;
    font-family: 'Old Standard TT', serif;
    font-size: 24px;
    padding: 6px 6px;
    background-color: #B2DAED;
    text-align: center;
    margin-bottom: 30px;
  }

  .host__candelary button {
    border: none;
    font-weight: 600;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
    padding: 12px 12px;
  }

  .host__candelary button:hover {
    background-color: #0f0f0f;
    color: #fff;
  }

</style>